.sidebaroptions{
    display: flex;
    align-items: center;
    height: 40px;
    padding:0 10px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    cursor: pointer;
    color: #818181;
}
.sidebaroptions:hover,.sidebaroptions:hover > p,.sidebaroptions:hover>h3{
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 100 !important;
}
.sidebaroption__active,sidebaroption__active>p,sidebaroption__active>h3{
    background-color: #fcecec;
    color: #c04b37;
    font-weight: 100 !important;
}
.sidebaroptions >.MuiSvgIcon-root{
    padding: 10px;
}
.sidebaroptions>h3{
    flex:1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;

}
.sidebaroptions>p{
    display: none;
    font-weight: 300;

}
.sidebaroptions:hover > p{
    display: inline;
}
.sidebaroption__active >p{
    display: inline !important;
}
